<div class="container">

  <div input-group>
    <span class="input-group-addon" id="basic-addon1">User</span>
    <input type="text" ng-model="username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
  </div>
  <br/>
  <div input-group>
    <span class="input-group-addon" id="basic-addon1">Password</span>
    <input type="password" ng-model="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
  </div>
  <br/>
  <input type="button" ng-click="login();" value="Login" class="form-control">


</div>
