<div>
  <div input-group>
    <span class="input-group-addon" id="basic-addon1">Warehouse</span>
    <select class="form-control" ng-model="warehouse">
       <option 
           ng-repeat="wh in warehouses" 
           value="{{wh.name}}"
       >
           {{wh.name}}
       </option>
    </select>
  </div>
  <br/>
  <div input-group>
    <span class="input-group-addon" id="basic-addon1">Date</span>
    <input type="date" ng-model="date" class="form-control" aria-describedby="basic-addon1">
  </div>
  <br/>
  <input type="button" ng-click="toGates();" value="To Gates" class="form-control">
</div>